* {
	margin: 0;
}


html,body {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	height: 100%;
	width: 100%;
}

body {
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	text-align: center;
}
.wrapper {
	padding: 20px;
	margin-top: 180px;
	background-color: rgba(0, 0, 0, 0.6);
}

.title {
	font-family: "Open Sans", sans-serif;
	font-weight: 300px;
	letter-spacing: 6px;
	color: rgba(255, 255, 255, 0.99);
	text-shadow: 2px 7px 7px rgba(0, 0,0, 0.5), 2px 7px 7px rgba(0, 0,0, 0.5);
	font-size: 8em;
	margin-bottom: 10px;
}

.punch {
	font-family: "Open Sans", sans-serif;
	margin-top: 10px;
	font-size: 2em;
	font-weight: 30px;
	color: rgba(255, 255, 255, 1);
}